.a {
  position: absolute;
  top: 50px;
  left: 57px;
  width: 96px;
  height: 21px;
  font: normal normal normal 20px/20px Proxima Nova;
  letter-spacing: 0px;
  color: #3b3b3b;
  opacity: 1;
}
.main-area {
  position: absolute;
  top: 20px;
  left: 200px;
  width: 463px;
  height: 174px;
  opacity: 100%;
}
.main-area > h2 {
  position: absolute;
  top: 15px;
  left: 70px;
  font: normal normal normal 26px/24px Proxima Nova;
  letter-spacing: 0px;
  color: #726969;
  opacity: 100%;
}

.prachi {
  list-style: none;
}

.prachi li:before {
  content: '✓';
  color: red;
}
