<div class="main-container">
  <div class="a">
    <mat-icon color="accent">error</mat-icon>
  </div>
  <h1>Account At Glance</h1>
  <p>
    NOTE: The oldest outstanding invoice must be paid first. The premium amount
    billed for some policies may not correctly reflect the number of deductions
    indicated on the invoice of the policies were issued during the billing
    period.
  </p>
  


<div class="side-container">
<div class="success callout" data-closable="slide-out-right">

<button class="close-button" type="button" data-close>
  <span aria-hidden="true">&times;</span>
</button>
</div>

<div class="right-side">
 <h2>Chat with Aflac</h2>
</div>
</div>
