<div class="main-container">
  <div class="a">
    <!-- <i class="material-icons" style="font-size:25px;color:blue">error</i> -->
  </div>
  <h1>Account At Glance</h1>
  <p>
    NOTE: The oldest outstanding invoice must be paid first. The premium amount
    billed for some policies may not correctly reflect the number of deductions
    indicated on the invoice of the policies were issued during the billing
    period.
  </p>
</div>

<div class="side-container">
  <!-- <div class="b">
    <i class="material-icons">close</i>
  </div>

  <div class="news">
    <h4>NEWS</h4>
    <i
      class="arrow right"
      style=" position: absolute;top:5vh;
      left: 250px;
      width: 8px;
      height: 8px;

      /* UI Properties */
     
      opacity: 1;"
    ></i>
    <i
      class="arrow left"
      style=" position: absolute;top:5vh;
      left: 200px;
      width: 8px;
      height: 8px;

      /* UI Properties */
     
      opacity: 1;"
    ></i>

    <u>Celebrate Comebacks</u>
    <p
      style=" position: absolute;top:7vh;
      left: -60px;
      width: 200px;
      height: 69px;
  
      font: normal normal normal 14px/18px Proxima Nova;
      letter-spacing: 0px;
      color: #555555;
      opacity: 1;"
    >
      Aflac inspires Comebacks. Have you made a Comeback from an illness,
      injury, or something else?Share your story.
    </p> -->
  <div class="news">
    <h4>NEWS</h4>
    <u
      style="position: absolute;
    top:8vh;
    left: 0px;
    width: 250px;
    height: 16px;
    /* UI Properties */
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 14px/18px Proxima Nova;
    letter-spacing: 0px;
    color: #0070a9;
    opacity: 1"
      >Celebrate Comebacks</u
    >
    <p
      style=" position: absolute;top:8vh;
      left: -13vh;
      width: 310px;
      height: 69px;
  
      font: normal normal normal 14px/18px Proxima Nova;
      letter-spacing: 0px;
      color: #555555;
      opacity: 1;"
    >
      Aflac inspires Comebacks. Have you made a Comeback from an illness,
      injury, or something else?Share your story.
    </p>
    <u
      style="position: absolute;
    top:22vh;
    left: 0px;
    width: 250px;
    height: 16px;
    /* UI Properties */
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 14px/18px Proxima Nova;
    letter-spacing: 0px;
    color: #0070a9;
    opacity: 1"
      >Enhancement to Business Services
    </u>
    <p
      style="position: absolute;top:22vh;
    left: -13vh;
    width: 310px;
    height: 69px;

    font: normal normal normal 14px/18px Proxima Nova;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;"
    >
      Based on your feedback, please click here to see our new enhancements to
      Business Services.
    </p>

    <u
      style="position: absolute;
    top:33vh;
    left: 0px;
    width: 250px;
    height: 16px;
    /* UI Properties */
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 14px/18px Proxima Nova;
    letter-spacing: 0px;
    color: #0070a9;
    opacity: 1"
      >Enhancement to Business Services
    </u>
    <p
      style="position: absolute;top:33vh;
    left: -13vh;
    width: 310px;
    height: 69px;

    font: normal normal normal 14px/18px Proxima Nova;
    letter-spacing: 0px;
    color: #555555;
    opacity: 1;"
    >
      Based on your feedback, please click here to see our new enhancements to
      Business Services.
    </p>
  </div>
</div>

<div class="right-side">
  <h2>Chat with Aflac</h2>
</div>
