<div class="main-container">
  <div class="a"></div>
  <ul>
    <li class="text1">Account At Glance</li>
    <li class="paragraph5">
      NOTE: The oldest outstanding invoice must be paid first. The premium
      amount billed for some policies may not correctly reflect the number of
      deductions indicated on the invoice of the policies were issued during the
      billing period.
    </li>
  </ul>
</div>

<div class="side-container">
  <i
    class="arrow right"
    style=" position: absolute;top:8vh;
 left: 330px;"
  ></i>
  <i
    class="arrow left"
    style=" position: absolute;top:8vh;
left: 285px;"
  ></i>
  <ul>
    <li class="news"><h4>NEWS</h4></li>
    <li class="lessthan"></li>
    <li class="greaterthan"></li>
    <li class="uderlinetext1">Celebrate Comebacks</li>
    <li class="line">________________________________________</li>

    <li class="paragraphtext1">
      Aflac inspires Comebacks. Have you made a Comeback <br />from an illness,
      injury, or something <br />
      else?Share your story
    </li>

    <li class="uderlinetext2">Enhancement to Business Services</li>
    <li class="paragraphtext2">
      Based on your feedback, please click here to see our new enhancements to
      Business <br />Services.
    </li>
    <li class="uderlinetext3">Enhancement to Business Services</li>
    <li class="paragraphtext3">
      Based on your feedback, please click here to see our new enhancements to
      Business <br />
      Services.
    </li>
    <li class="uderlinetext4">Enhancement to Business Services</li>
    <li class="paragraphtext4">
      Based on your feedback, please click here to see our new enhancements to
      Business<br />
      Services.
    </li>
  </ul>
</div>

<div class="right-side">
  <ul>
    <li class="chat">Chat with Aflac</li>
  </ul>
</div>
